<% if @photo.errors.any? %>
	<div class="error-messages">
		<h4>Please finish filling out the form.</h4>

		<ul>
			<% for message in @photo.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="form-container">
	<%= form_for @photo do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br>
		<%= f.label :artist %>
		<%= f.text_field :artist %>
		<br>
		<%= f.label :url %>
		<%= f.text_field :url %>
		<br>
		<%= f.label :collection_id %>
		<%= f.select :collection_id, options_from_collection_for_select(@collections, 'id', 'name') %>
		<br><br>
		<%= f.submit %>
		<br><br>
		<%= link_to "Cancel", photos_path %>

	<% end %>
</div>